.cart_main{
    max-width: 1200px;
 }
 .cart_main button{
    background: 0 none;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
 }
    
 .cart_tab_list{
     font-size: 0;
 }
 .cart_tab_list li{
     display: inline-block;
     padding: 5px;
     margin-left: 10px;
     font-size: 15px;
     border: 1px solid rgba(0,0,0,0.5);
     box-sizing: border-box;
 }
 .cart_tab_list li:first-child{
     margin-left: 0;
 }
 .cart_tab_list li:last-child{
     float: right;
 }
 .cart_goods_detail{
    width: 100%;
 }
 .cart_goods_detail th{
    font-size: 15px;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.cart_goods_detail td{
   position: relative;
   padding: 10px 0;
   font-size: 15px;
   text-align: center;
   vertical-align: middle;
}
.cart_main .product_img{
   width: 80px;
}
.change_option_pop{
   display: block;
   position: absolute;
   text-align: left;
   margin-top: 5px;
   left: 25px;
   z-index: 2;
}
.option_btn{
   display: inline-block;
   position: relative;
   padding: 5px;
   padding-right: 20px;
   border: 1px solid rgba(0,0,0,0.5);
   border-radius: 3px;
   box-sizing: border-box;
   cursor: pointer;
}
.option_btn:before,
.option_btn:after{
   content:'';
   display: block;
   position: absolute;
   width: 8px;
   height: 3px;
   right: 5px;
   top: 50%;
   margin-top: -1.5px;
   background-color: orange;
}
.option_btn:before{
   transform: rotate(45deg) translateX(-3px);   
}
.option_btn:after{
   transform: rotate(-45deg) translateX(-3px);
}
.option_pop_title{
   padding: 10px 0;
   padding-left: 20px;
   background-color: #495164;
   color: #fff;
   font-weight: bold;
}
.change_option{
   display:none;
   background-color: #fff;
   border: 1px solid rgba(0,0,0,0.8)
}
.change_option p{
   padding-left: 20px;
   border-radius: 5px;
}
.change_option .goods_name{
   margin-top: 25px;
   font-weight: 600;
}
.change_option .select_box{
   width: 350px;
   margin: 15px 20px 20px;
   padding-top:15px;
   border-top: 1px solid rgba(0,0,0,0.1);
}
.change_option .select_box .option_box {
   position: relative;
}
.change_option .select_box .option2_box{
   margin-top: 10px;
}
.change_option .select_box select{
   display: block;
   position: absolute;
   top:0;
   right: 0;
}
.change_option .option_btn_box{
   padding: 10px 0;
   border-top: 1px solid rgba(0,0,0,0.2);
   text-align: center;
   background-color:#f3f3f3;
}
.change_option .option_btn_box input{
   padding: 5px 30px;
   border: 1px solid rgba(0,0,0,0.3);
   background: 0 none;
   background-color: #fff;
}
.change_option .option_btn_box input:first-child{
   background-color: #495164;
   color: #fff;
}

.change_option.active{
   display: block;
}

.cart_goods_detail td.quantity{
   font-size: 0;
}
.quantity input{
   display:inline-block;
   width: 30px;
   vertical-align: top;
}
.quantity_box{
   display: inline-block;
   font-size: 0;
}
.quantity_box .quantity_btn{
   display: block;
   cursor: pointer;
}
.quantity input#quantityChange{
   display: block;
   width: 50%;
   margin: 5px auto 0;
   clear:both;
}
.buy_product a{
   display: block;
   width: 50%;
   padding: 5px 10px;
   margin: 0 auto;
   border: 1px solid rgba(0,0,0,0.3);
   border-radius: 3px;
}
.total_price{
   font-size: 15px;
   padding: 15px 0;
   border-top: 1px solid rgba(0,0,0,0.1);
   border-bottom: 1px solid rgba(0,0,0,0.1);
}
.total_price .desc{
   float: left;
}
.total_price .price_add{
   float: right;
}
.total_price:after{
   content: '';
   display: block;
   clear: both;
}
.product_info_option{
   font-size: 0;
}
.product_info_option .desc{
   display: inline-block;
   font-size: 15px;
   vertical-align: middle;
}
.product_info_option .option_btn_list{
   display: inline-block;
   width: calc(100% - 80px);
   margin: 15px 0;
   box-sizing: border-box;
   font-size: 0;
}
.product_info_option .option_btn_list li{
   display: inline-block;
   padding-left: 5px;
   font-size: 15px;
   text-align: left;
   vertical-align: middle;
}
.product_info_option .option_btn_list li:first-child{
   padding-left: 0;
}
.product_info_option .option_btn_list li:nth-child(n + 3){
   float: right;
}
.total_price_table{
   width: 100%;
   border: 1px solid #000;
   text-align: center;
}
.total_price_table th,
.total_price_table td{
   border-right: 1px solid rgba(0,0,0,0.1);
   margin: 0;
   font-size: 15px;
}
.total_price_table th{
   padding: 10px 0;
}
.total_price_table td{
   padding: 20px 0;
   border-top: 1px solid rgba(0,0,0,0.1);
}
.total_price_table th:last-child,
.total_price_table td:last-child{
   border-right: 0 none;
}
.order_btn_box{
   position: relative;
   margin-top: 20px;
   text-align: center;
}
.order_btn_box input{
   background: 0 none;
   border: 1px solid rgba(0,0,0,0.3);
   padding: 5px;
   margin: 0 5px;
   box-sizing: border-box;
   border-radius: 3px;
   cursor: pointer;
}
.going_shopping{
   position: absolute;
   right: 0;
}